.ad {
    height: 55rem;
    background-image: url(../../images/ramadan.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: #00000038 0 0 0 1000000px inset;
    animation: switchAd 10s infinite ease-in-out;
    background-position-x: left;
    justify-content: space-between;
}

.ad h1{
    color: white;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    padding: 5px 100px;
    font-size: 70px;
}

.ad h2 {
    margin: 5px 0;
    color: white;
    font-size: 35px;
}

.ad h3 {
    font-size: 25px;
    font-weight: 100;
    color: white;
}

#textbox {
    position: relative;
    top: 12rem;
    padding: 10rem 4rem;
    border: 2px solid white;
    text-align: center;
    margin: 0 auto;
    text-shadow: 1px 1px 2px black;
}

#textbox button {
    background-color: white;
    border: none;
    padding: 10px 25px;
}

@keyframes switchAd {
    30% {
        background-image: url(../../images/ramadan.png);
    }
    60% {
        background-image: url(../../images/pearl-collection.jpg);
    }
    90% {
        background-image: url(../../images/muslim-women.jpg);
    }
}