.header {
    height: 55rem;
    width: 100%;
    background-image: url(../../images/oyster.jpg);
    background-position: 0;
    background-size: cover;

    box-shadow: #75565646 0 0 0 1000000px inset;
    
    /* light pallette */
    /* box-shadow: #75565646 0 0 0 1000000px inset; */
    
    /* darker pallette */
    /* box-shadow: #4928286e 0 0 0 1000000px inset; */ 
}

.header h1, .header h2 {
    margin: 0 auto;
    font-weight: 500;
}

.header h2 {
    margin-top: 5px;
}

#header-quote {
    margin: 0 auto;
    position: relative;
    top: 25rem;
    text-align: center;
    color: white;
}